In [2]:
df2020 = pd.read_csv('2020supplements.csv')
df2019 = pd.read_csv('2019supplements.csv')
df2018 = pd.read_csv('2018supplements.csv')
df2017 = pd.read_csv('2017supplements.csv')
df2016 = pd.read_csv('2016supplements.csv')

In [3]:
category_filter = [17, 22, 26, 27, 28]
fdf2020 = df2020[df2020.category.isin(category_filter)]
fdf2019 = df2019[df2019.category.isin(category_filter)]
fdf2018 = df2018[df2018.category.isin(category_filter)]
fdf2017 = df2017[df2017.category.isin(category_filter)]
fdf2016 = df2016[df2016.category.isin(category_filter)]

In [4]:
(len(df2020) - len(fdf2020),
 len(df2019) - len(fdf2019),
 len(df2018) - len(fdf2018),
 len(df2017) - len(fdf2017),
 len(df2016) - len(fdf2016))

(510, 404, 413, 504, 512)

In [5]:

fdf2020 = fdf2020.drop(columns=['Unnamed: 0'])
fdf2019 = fdf2019.drop(columns=['Unnamed: 0'])
fdf2018 = fdf2018.drop(columns=['Unnamed: 0'])
fdf2017 = fdf2017.drop(columns=['Unnamed: 0'])
fdf2016 = fdf2016.drop(columns=['Unnamed: 0'])

In [6]:
group20 = fdf2020.groupby('sup_name').sum()
group19 = fdf2019.groupby('sup_name').sum()
group18 = fdf2018.groupby('sup_name').sum()
group17 = fdf2017.groupby('sup_name').sum()
group16 = fdf2016.groupby('sup_name').sum()

In [13]:
group20.sort_values(by=['view_count'],ascending=False).head()

           category  view_count  like_count  dislike_count  com_count
sup_name
Melatonin      1608    62694272       29845            827       4715
Vitamin C      2243    57351893      709181          22672      68141
Collagen       2230    28888339      400339          10125      47680
Vitamin D      2287    27243324      684566          18925     105459
Zinc           2094    23137758      414608          17334      45163

In [ ]:
fdf2019 = fdf2019.drop(columns=['Unnamed: 0'])
gdf2= fdf2019.groupby('sup_name').sum()
gdf2.sort_values(by=['view_count'],ascending=False)